@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500;600;700&display=swap");


:root {
  font-size: 16px;

  /*Color varibles*/
  --DarkText: hsl(229, 25%, 31%);
  --ScoreText: hsl(229, 64%, 46%);
  --HeaderOutline: hsl(217, 16%, 45%);
  --WinnerOutline: rgba(255, 255, 255, 0.02);
}

button{
  all: unset;
  cursor: pointer;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0%;
  margin: 0%;
  overflow: hidden;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(
    at top,
    hsl(214, 47%, 23%) 12%,
    hsl(237, 49%, 15%) 100%
  );

  font-family: "Barlow Semi Condensed", sans-serif;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

/*Scoreboard*/

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border: 3px solid var(--HeaderOutline);
  border-radius: 1rem;

  width: 43.5rem;
  height: 9.2rem;
  margin-top: 6vh;
}

.logo {
  justify-self: flex-start;
  height: 6.2rem;

  margin: 0.5% 0 0 4%;
}

.scoreBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   
  height: 74.025%;
  width: 21.306%;
  margin-right: 3.125%;
  border-radius: 0.5em;
  overflow: visible;
  background-color: white;
}

.scoreBoard p {
  font-size: 1em;
  color: var(--ScoreText);
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 0;
  line-height: 0.5em;
  letter-spacing: 0.1em;
}

.scoreText {
  color: #575469;
  font-size: 3.7rem;
  font-weight: 700;
  margin-top: 2vh;
  line-height: 0.75em;
}

/*Choose menu*/
.chooseMenu {
  display: flex;
  flex-wrap: wrap;

  width: 35.5rem;

  margin-top: 8vh;

  background-image: url("./images/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: 50% 65%;
}

.choiceSlot {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  height: 9.62rem;

  border: 1.187rem solid;
  border-radius: 100%;

  aspect-ratio: 1;


  background-color: white;
}

.choiceSlot img {
  height: 50%;
  aspect-ratio: auto;
}

/*Choice styles*/
#rock {
  margin: 2.2rem 0 0 11.6rem;
}

#paper {
 
  margin: 0.2rem 0 0 3rem;
}

#scissors {

  margin: 0.2rem 0 0 5.4rem;
}
 
.rock {
  border-color: #db3752;
  box-shadow: 0px 10px 0 0 #9f1536, 0px 8px 0 0 #b8bdd3 inset;
}

.rock img {
  content: url("./images/icon-rock.svg");
  height: 42% !important;
}

.paper {
  border-color: #5772f5;
  box-shadow: 0px 10px 0 0 #2945c0, 0px 8px 0 0 #b8bdd3 inset;
}

.paper img {
  content: url("./images/icon-paper.svg");
}

.scissors {
  border-color: #eea61e;
  box-shadow: 0px 10px 0 0 #c76c1d, 0px 8px 0 0 #b8bdd3 inset;
}

.scissors img {
  content: url("./images/icon-scissors.svg");
}

.spock {
  border-color: #49bccf;
  box-shadow: 0px 10px 0 0 #2f8daf, 0px 8px 0 0 #b8bdd3 inset;
}

.spock img {
  content: url("./images/icon-spock.svg");
  height: 50%;
}

.lizard {
  border-color: #8d5de7;
  box-shadow: 0px 10px 0 0 #6037ad, 0px 8px 0 0 #b8bdd3 inset;
}

.lizard img {
  content: url("./images/icon-lizard.svg");
  height: 50%;
}

/*Battle menu*/
.battleMenu {
  display: none;
  justify-content: space-between;
  align-items: center;
  margin-top: 9.5vh;
}

.battleMenu p {
  font-size: 1.35rem;
  letter-spacing: 4px;
  font-weight: 600;
  text-align: center;
  color: white;
  margin: 0%;
}

.playerContainer {
  margin-right: 2.5rem;
}

.houseContainer {
  margin-left: 2.5rem;
}

.playerSlot,
.houseSlot {
  height: 14rem;
  border-width: 2rem;
  margin: 4rem 0 5rem 0;
  aspect-ratio: 1;
}

.emptySlot {
  height: 14rem;
  aspect-ratio: 1;


 
  border: 2rem solid rgba(0, 0, 0, 0);
  border-radius: 100%;


  background-color: #16213d;
}

.playerContainer,
.houseContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*Game results*/

.gameResults {
  display: none;
  position: relative;
  text-align: center;

  overflow: hidden;
  white-space: nowrap;

  width: 0;
  opacity: 0;

  margin: 2.5rem;
}

.gameResults p {
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
  margin: 0;
}

.restartBtn {
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.15rem;

  width: 13.75rem;
  height: 3rem;

  border-radius: .7rem;
  border: none;

  margin: 1.2rem 0 0.7rem 0;

  color: var(--DarkText);

  background-color: rgb(231, 231, 231);
}

.restartBtn:hover{
  color: rgb(172, 2, 2);
}


/*rules*/
.rulesMenu {
  display: none;
  flex-direction: column;

  position: absolute;
  top: 23%;

  height: auto;
  width: 25rem;

  border-radius: 0.7em;
  background-color: white;
  box-shadow: 0 0 0 9999px #000000b0;
  z-index: 2;
}

.rulesMenu img {
  align-self: center;
  width: 90%;
  height: 70%;

  margin: 2% 0 3% 0;
}

.rulesMenu div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 90%;
}

.rulesMenu p {
  text-align: left;
  color: var(--DarkText);
  font-size: 2em;
  font-weight: 700;

  margin: 5% 0 0 8.25%;
}

.rulesMenu small {
  font-size: 1.4em;
  font-weight: 700;
  color: var(--HeaderOutline);

  margin: 5% 0 0 8.25%;
}

.rulesBtn {
  position: absolute;
  
  width: 8.2rem;
  height: 2.65rem;

  color: #ffffff;
  background-color: #ffffff00;


  border-radius: 0.5em;
  border: 1px solid #ffffff;

  bottom: 4vh;
  right: 2.2vw;
  align-self: flex-end;

  font-size: 0.9em;
  text-align: center;
  letter-spacing: 0.2vw;
}


/*Winner rings*/
.winner {
  position: absolute;

  width: 100%;
  aspect-ratio: 1;

  border-radius: 100%;
  border: 2rem solid #ffffff00;

  background-color: #ffffff00;

  animation-name: winnerAnimation;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-duration: 1s;

  z-index: -2;
}

@keyframes winnerAnimation {
  0% {
    box-shadow: 0;
  }

  33% {
    box-shadow: 0px 0px 0 3.937rem var(--WinnerOutline);
  }

  66% {
    box-shadow: 0px 0px 0 3.937rem var(--WinnerOutline),
      0px 0px 0 8.374rem var(--WinnerOutline);
  }

  100% {
    box-shadow: 0px 0px 0 3.937rem var(--WinnerOutline),
      0px 0px 0 8.374rem var(--WinnerOutline),
      0px 0px 0 13.561rem var(--WinnerOutline);
  }
}

/*Large screens*/

@media only screen and (max-width: 3900px) {
  :root {
    font-size: 35px;
  }
  .chooseMenu {
    background-position: 50% 80%;
    background-size: 60%;
  }
}

@media only screen and (max-width: 1920px) {
  :root {
    font-size: 21px;
  }
  .chooseMenu {
    background-position: 50% 80%;
    background-size: 60%;
  }
}

@media only screen and (max-width: 1367px) {
  :root {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1280px) {
  :root {
    font-size: 14px;
  }

  .rulesBtn {
    width: 10rem;
    height: 3rem;
  }
}

/*Medium screens*/
@media only screen and (max-width: 920px) {
  .rulesBtn {
    width: 13rem;
    height: 4rem;
    font-size: 1.3rem;
  }

  .scoreBoard p {
    font-size: 1.4em;
  }

  .scoreText {
    font-size: 4rem;
    margin-top: 1vh;
  }
}

/*Smaller screens*/
@media only screen and (max-width: 699px) {
  :root {
    font-size: 8px;
  }

  header {
    height: 12rem;
    width: 55rem;
    margin-top: 4vh;
  }

  /*Choose menu*/
  .chooseMenu {
    width: 50rem;
    margin-top: 15vh;
    background-size: 70%;
  }

  .choiceSlot {
    height: 15rem;
    border-width: 2rem;
  }

  #rock {
    margin: 4rem 0 0 15rem;
  }

  .playerContainer,
  .houseContainer {
    flex-direction: column-reverse;
  }

  .battleMenu p {
    font-size: 2.5rem;
  }

  /*Battle menu*/
  .battleMenu {
    flex-wrap: wrap;
  }

  .houseContainer {
    margin: 0 4rem 0 0;
  }

  .playerContainer {
    margin: 0 0 0 4rem;
  }

  /*game results*/

  .gameResults {
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100vw;

    margin: 14rem 0 0 38%;

    overflow: visible;
    order: 1;
  }

  .gameResults p {
    font-size: 10rem;
  }

  .restartBtn {
    width: 34rem;
    height: 7.5rem;

    font-size: 2rem;
    border-radius: 1.5rem;

    margin-top: 3rem;
    color: var(--DarkText);
  }

  /*rules*/
  .rulesMenu {
    top: 23%;

    height: auto;
    width: 80%;
    border-radius: 2em;
  }

  .rulesMenu img {
    align-self: center;
    width: 90%;
    height: 70%;
    margin-bottom: 5%;
  }

  .rulesMenu p {
    font-size: 6em;
    margin: 5% 0 0 8.25%;
  }

  .rulesMenu small {
    font-size: 4em;
  }

  .rulesBtn {
    width: 24rem;
    height: 8rem;

   
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 

    border-radius: 1.2rem;

    font-size: 2em;
    letter-spacing: 0.2vw;
  }
}

@media only screen and (max-width: 500px) {
  :root {
    font-size: 6px;
  }

  .logo {
    width: 15rem;
    height: 10rem;
  }

  header {
    height: 15rem;
    width: 64rem;
  }

  /*Choose menu*/
  .chooseMenu {
    width: 63rem;
    margin-top: 15vh;
    background-size: 80%;
  }

  .choiceSlot {
    height: 19rem;
    border-width: 3rem;
  }

  #rock {
    margin: 5rem 0 0 19rem;
  }

  /*rules*/
  .rulesBtn {
    width: 30rem;
    height: 9rem;




    border-radius: 1.2rem;
  }

  
  
  .gameResults{
    margin-top: 15rem;

  }
  .gameResults p{
    font-size: 10rem;
  } 
  .restartBtn {
    width: 40rem;
    height: 9rem;

    font-size: 3rem;
    border-radius: 1.5rem;

    margin-top: 3rem;
    color: var(--DarkText);
  }
}

@media only screen and (max-width: 430px) {
  :root {
    font-size: 5px;
  }
  /*header*/

  header {
    height: 18rem;
    width: 70rem;
    margin-top: 4vh;
  }

  .logo {
    width: 19rem;
    height: 13rem;
  }

  .scoreBoard p {
    font-size: 2em;
  }

  .scoreText {
    font-size: 5rem;
    margin-top: 1vh;
  }

  /*game results*/
  .gameResults {
    width: 100vw;

    margin: 10rem 0 0 42%;
    

    overflow: visible;
    order: 1;
  }

  .gameResults p {
    font-size: 13rem;
  }

  .restartBtn {
    width: 50rem;
    height: 11rem;

    font-size: 4rem;
    border-radius: 1.5rem;

    margin-top: 3rem;
    color: var(--DarkText);
  }

  /*rules*/
  .rulesBtn {
    width: 42rem;
    height: 13rem;

  

    border-radius: 2.5rem;
    font-size: 3rem;
  }
}

@media only screen and (max-width: 395px) {
  :root {
    font-size: 4px;
  }

}

@media only screen and (max-width: 330px) {
  :root {
    font-size: 3.5px;
  }
}

/*Scaling adjustments for browser toolbar*/
@media screen and (min-width: 800px) and (max-height: 700px) {
  :root {
    font-size: 14px;
  }

  .chooseMenu {
    background-position: 50% 75%;
  }
}
