@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500;600;700&display=swap");

:root {
  font-size: 16px;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0%;
  margin: 0%;
  overflow: hidden;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(
    at top,
    hsl(214, 47%, 23%) 12%,
    hsl(237, 49%, 15%) 100%
  );

  font-family: "Barlow Semi Condensed", sans-serif;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border: 3px solid hsl(217, 16%, 45%);
  border-radius: 1rem;

  width: 43.5rem;
  height: 9.2rem;
  margin-top: 6vh;
}

.logo {
  justify-self: flex-start;
  height: 6.2rem;
  margin-left: 4%;
  margin-top: 0.5%;
}

.scoreBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 74.025%;
  width: 21.306%;
  margin-right: 3.125%;
  border-radius: 0.5em;
  background-color: white;
}

.scoreBoard p {
  font-size: 1em;
  color: hsl(229, 64%, 46%);
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 0;
  line-height: 0.5em;
  letter-spacing: 0.1em;
}

.scoreText {
  color: #575469;
  font-size: 3.7rem;
  font-weight: 700;
  margin-top: 2vh;
  line-height: 0.75em;
}

/*Choose menu*/
.chooseMenu {
  display: flex;
  flex-wrap: wrap;

  width: 35.5rem;


  margin-top: 8vh;
 
  background-image: url('./images/bg-triangle.svg');
  background-repeat: no-repeat;
  background-position: 50% 65%; 
}

.choiceSlot {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  height: 9.62rem;
  border-width: 1.187rem;


  aspect-ratio: 1;

  border-style: solid;
  border-radius: 100%;

  background-color: white;
}

.choiceSlot img {
  height: 50%;
  aspect-ratio: auto;
}

.triangle {
  position: absolute;

  top: 22rem;
  left: 33rem;

  width: 20rem;
  z-index: -1;
  display: none;
}

/*Choice styles*/
#rock {
margin-left: 11.6rem;
margin-top: 2.2rem;
}

#paper {
  margin-left: 3rem;
  margin-top: .2rem;
}

#scissors {
  margin-left: 5.4rem;
  margin-top: .2rem;
}

.rock {
  border-color: #db3752;
  box-shadow: 0px 10px 0 0 #9f1536, 0px 8px 0 0 #b8bdd3 inset;
}

.rock img {
  content: url("./images/icon-rock.svg");
  height: 42% !important;
}

.paper {
  border-color: #5772f5;
  box-shadow: 0px 10px 0 0 #2945c0, 0px 8px 0 0 #b8bdd3 inset;
}

.paper img {
  content: url("./images/icon-paper.svg");
}

.scissors {
  border-color: #eea61e;
  box-shadow: 0px 10px 0 0 #c76c1d, 0px 8px 0 0 #b8bdd3 inset;
}

.scissors img {
  content: url("./images/icon-scissors.svg");
}

/*Battle menu*/
.battleMenu {
  display: none;
  justify-content: space-between;
  align-items: center;
  margin-top: 9.5vh;
}

.battleMenu p{
  font-size: 1.35rem;
  letter-spacing: 4px;
  font-weight: 600;
  text-align: center;
  color: white;
  margin: 0%;
}

.playerContainer{
 margin-right: 2.5rem;
}

.houseContainer{
  margin-left:  2.5rem;
}

.playerSlot {
height: 14rem;
border-width: 2rem;
margin-top: 4rem;
margin-bottom: 5rem;
aspect-ratio: 1;
}

.emptySlot {
  height: 14rem;
  aspect-ratio: 1;

  margin-top: 6.4rem;
  margin-bottom: 6.5rem;

  border-style: solid;
  border-radius: 100%;
  border-width: 0;
  border-color: #16213d00;


  background-color: #16213d;

}

.playerContainer, .houseContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.gameResults{
  position: relative;
   text-align: center;

   overflow: hidden;
   white-space: nowrap;

   width: 0;
   opacity: 0;


   margin: 2.5rem;
}

.gameResults p{
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: .15rem;
  margin: 0;
}

.gameResults button{

  font-weight: 600;
  letter-spacing: .15rem;


  width: 13.75rem;
  height: 3rem;

  border-radius: 0.5em;
  border-style: solid;

  margin-top: 1.2rem;
  margin-bottom: .7rem;
}



/*rules*/
.rulesMenu {
  display: none;
  flex-direction: column;

  position: absolute;
  top: 23%;

  height: 25.9rem;
  width: 25rem;
  border-radius: 0.7em;
  background-color: white;
  z-index: 2;
}

.rulesMenu img {
  align-self: center;
  width: 76%;
  height: 65.06%;
}

.rulesMenu div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 90%;
}

.rulesMenu p {
  text-align: left;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 12.289%;
  margin-top: 9.156%;
  margin-left: 8.25%;
  margin-right: 0;
}

.rulesMenu small {
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 12.289%;
  margin-top: 9.156%;
  margin-left: 8.25%;
  margin-right: 0;
}

.rulesBtn {
  position: absolute;
  width: 8.2rem;
  height: 2.65rem;

  color: #878ba6;
  border-color: #878ba6;
  background-color: #ffffff00;

  border-radius: 0.5em;
  border-style: solid;
  border-width: 2px;

  bottom: 4vh;
  right: 2.2vw;
  align-self: flex-end;

  
  font-size: 0.9em;
  letter-spacing: 0.2vw;
}

.click:hover{
cursor: pointer;
}

/* Scaling adjustments for browser toolbar*/
@media screen and ( max-height: 653px ) {
  :root{
    font-size: 13px;
  }

  .chooseMenu{
    background-position: 50% 100%; 
  }
} 
